<div class="d-flex align-items-center justify-content-center" style="height: var(--tg-viewport-height);">
  <div class="text-center">
    <h3 class="fs-3"><span class="text-danger">Oops!</span></h3>
    <p><%= @message %></p>
    <a href="/" class="btn btn-primary">Go Home</a>
  </div>
</div>
