
<td class="footer">
  <div class="footer-content">
     <p class="footer-text">This email was sent by <span class="footer-logo"><i>BookMe</i><span class="footer-logo-icon">+</span></span>
      For support, contact us at <a href="mailto:info@bookme.plus">Info@bookme.plus</a>.
    </p>
  </div>
</td>