---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBt-OSnDZze6hxGjfiapSxpcyGzBo_COv8&location=10.63226396,104.16990577&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AfLeUgPo4hrcS5IEAFZKQaxzwKP7P8vYJzP6k445r1VBJfpH6qQNJtG9tVKhpzF5726UrX-JI_w4Dy68_XtF1Uff0KgtXSEpXp7gQ530j3M8Rk1hT8xnkvlvephoq4sELNzhDU7dzlN_Hjds8LdsCiglFpZCQdS1FTkxt8HVcgxlgMY8ebf5nNUPWH9k7E_IZGELY9jg93UL60J8_Lm3pU1Pk4df7DdmmORNrKDs64qg0vQAiwcIEzFpkmAFPJ1E3m2M0sLoVmlPR-y8BPbYkUTB40aDRAJMRKUAR6hR5DXBaVer4zHAiN0jsOqiT8cu3vfpDWvP_rOc0FNtc4fmEqaUKuQpo_GXiw1m_cO-iX-cQqcI2Tsv0sG-aCYHolGL1luZq1qSE250YDc4IB9LX8cQ4XeUsRtX96umnuQDj-G2aHID",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 10.5942421,
                       "lng" : 104.1640355
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.64230360467809,
                          "lng" : 104.2172313373805
                       },
                       "southwest" : {
                          "lat" : 10.53956387382726,
                          "lng" : 104.1190838501716
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png",
                 "icon_background_color" : "#7B9EB0",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Krong Kampot",
                 "photos" : [
                    {
                       "height" : 2272,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118264445122521583401\"\u003eMeta Duong\u003c/a\u003e"
                       ],
                       "photo_reference" : "AfLeUgOiZrRH7GsbbQVHP6ebNJBwFemNEbfSQ8guR2d2zyTYgy9aHlsr12y8ShrTTf_0tVrj2qJy4lvhFG6Tn8hAYBg7v1LDIzqa9038_TcuIpoSGegGwaNy8guFrK5tQsi9_etYG9X9jqYxZq3wAm_LbZtKrE2iqj-QO139fevmUHpn5BpF",
                       "width" : 4608
                    }
                 ],
                 "place_id" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "reference" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "scope" : "GOOGLE",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Krong Kampot"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 10.6444116,
                       "lng" : 104.1721365
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.6458739302915,
                          "lng" : 104.1733625302915
                       },
                       "southwest" : {
                          "lat" : 10.6431759697085,
             [...]
