---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBt-OSnDZze6hxGjfiapSxpcyGzBo_COv8&location=10.63226396,104.16990577&name=&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"next_page_token\" : \"ATJ83zhe6wtq_CnLKu7AR9CwsxmiCvAi1UHWJ4_Eg_eOvGLEC2HJQOzfGbU3OujGz6WkZc3xVAR84H6gJ6uzmF_oS_sfCugCX3fNXzux_hZPjBzFDxJTME45Fm5o_0tBJtZ02-itz3DGLioa9Knm2xFxmLVPhsWygKADXb1g6RuF7v51qPtI9KMU9WV4lSZ7BeLp4qm-rDJetLuoj5YEgN0qrXrp_iPKHgcQXMthnvWxg4s6qBYKOxGmk3cwTVjqUkSf6bxZj-SRNDHg4-_mbQ_5INkA6miomXLBvMGUJT-XxvKOWSoErR3Xl5585EeBRBv_cawU-XRDr398w91_PW1BuZIOUrUgSzknDEWTA-EeHGbh0w69xCMp7IrSZXGrqSTgL32idR3z8Eeqt9H5EpNQh3fXnH9hm5cXH3rQoZCPmyNp\",\n
        \  \"results\" : \n   [\n      {\n         \"geometry\" : \n         {\n            \"location\"
        : \n            {\n               \"lat\" : 10.5942421,\n               \"lng\"
        : 104.1640355\n            },\n            \"viewport\" : \n            {\n
        \              \"northeast\" : \n               {\n                  \"lat\"
        : 10.64230360467809,\n                  \"lng\" : 104.2172313373805\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 10.53956387382726,\n                  \"lng\" : 104.1190838501716\n               }\n
        \           }\n         },\n         \"icon\" : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png\",\n
        \        \"icon_background_color\" : \"#7B9EB0\",\n         \"icon_mask_base_uri\"
        : \"https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet\",\n
        \        \"name\" : \"Krong Kampot\",\n         \"photos\" : \n         [\n
        \           {\n               \"height\" : 2272,\n               \"html_attributions\"
        : \n               [\n                  \"\\u003ca href=\\\"https://maps.google.com/maps/contrib/118264445122521583401\\\"\\u003eMeta
        Duong\\u003c/a\\u003e\"\n               ],\n               \"photo_reference\"
        : \"ATJ83zhsLdPuNev-LfZFwPLrqR1xfviCYvCHYAbqLII2zewss4U4WcxIK2-FIzXamZOHDvleHJ1myz-V5d4EQSPILqxzQdqfy0pSPgN5rnFY2JwIzeIgx35sQz4NYFuD9k-CwBSZ3FQQbgn7jE_kO7F70Lk2xzojcg5XqhdJ9muNGjF8MLTF\",\n
        \              \"width\" : 4608\n            }\n         ],\n         \"place_id\"
        : \"ChIJb9JffYk2CDER_wfWO0TtUG8\",\n         \"reference\" : \"ChIJb9JffYk2CDER_wfWO0TtUG8\",\n
        \        \"scope\" : \"GOOGLE\",\n         \"types\" : \n         [\n            \"locality\",\n
        \           \"political\"\n         ],\n         \"vicinity\" : \"Krong Kampot\"\n
        \     },\n      {\n         \"business_status\" : \"OPERATIONAL\",\n         \"geometry\"
        : \n         {\n            \"location\" : \n            {\n               \"lat\"
        : 10.6444116,\n               \"lng\" : 104.1721365\n            },\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 10.6458739302915,\n                  \"lng\" : 104.1733625302915\n               },\n
        \              \"southwest\" : \n               {\n       [...]
