<div class="container mt-5">
  <form class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="layer">Layer</label>
        <input type="text" class="form-control" id="layer" name="layer">
      </div>
      <div class="form-group">
        <label for="label">Label</label>
        <input type="text" class="form-control" id="label" name="label">
      </div>
      <div class="form-group">
        <label for="row">Row</label>
        <input type="number" class="form-control" id="row" name="row">
      </div>
      <div class="form-group">
        <label for="column">Column</label>
        <input type="number" class="form-control" id="column" name="column">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type">
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <!-- Add more options if needed -->
        </select>
      </div>
      <button class="saveButton btn btn-primary">submit</button>
    </div>
    <div class="seatsContainer col-8 p-5">
    </div>
  </form>
</div>
<script></script>
