<div class="container mt-5">
  <form class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="layer">Layer</label>
        <select class="form-control" id="layer" name="layer">
          <option value="First Layer">First Layer</option>
          <option value="Second Layer">Second Layer</option>
          <option value="Third Layer">Third Layer</option>
          <option value="Fourth Layer">Fourth Layer</option>
          <option value="Fifth Layer">Fifth Layer</option>
        </select>
      </div>
      <div class="form-group row">
        <div class="col-8">
          <label for="label">Label</label>
          <input required type="text" class="form-control" id="label" name="label">
        </div>
        <div class="col-4">
          <label for="suffix">Suffix?</label>
          <input class="suffix" type="checkbox" id="suffix" name="suffix">
        </div>
      </div>
      <div class="form-group">
        <label for="row">Row</label>
        <input required type="number" class="form-control" id="row" name="row">
      </div>
      <div class="form-group">
        <label for="column">Column</label>
        <input required type="number" class="form-control" id="column" name="column">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type">
          <option value="0">normal</option>
          <option value="1">empty</option>
          <option value="2">vip</option>
          <option value="3">driver</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary p-1 saveButton" class="close" data-dismiss="modal" aria-label="Close">
        submit
      </button>
    </div>
    <div class="seatsContainer col-8 p-5">
    </div>
  </form>
</div>
