---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBt-OSnDZze6hxGjfiapSxpcyGzBo_COv8&location=10.63226396,104.16990577&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AfLeUgOMt-uwbxTQIHgI-yYz_ARA6QQk9K9x-ukUwotBfRTSLQeKvl4EBsnFoOYk9i0YtXlp1zeMz8VsXvauryKaC7d8LxCBtuSFNbz9Vdt_LVWMrfy4UNPkWy3sMftl2NfwFis5IVNtpY7TtK92P4fwwRyh2O_vu6dxVQXTdA2UHXdNzNzUxhTXWzhP9oVR0S3xHX5FidGpPuFH2xHG8F_hsxZmW0tJMSiuaLawycpXcQhJsT1pWI9kpJLXDwod1AbcKpug5LkFXGQeQyvF8YiZlFciF2_9lreyV3WQ3cfLvhvJDleKqIA_4MkBPsp439BGf42QmUM205hMt0z5GvvHJcdA52DhFhSJSQZVQFjXi0M4zrEIpGKte1u0Ku7AH_mvmEphNLst1bBFFmrk03r0pxJJ5fkg7AQ89gTiJQbDNFKj",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 10.5942421,
                       "lng" : 104.1640355
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.64230360467809,
                          "lng" : 104.2172313373805
                       },
                       "southwest" : {
                          "lat" : 10.53956387382726,
                          "lng" : 104.1190838501716
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png",
                 "icon_background_color" : "#7B9EB0",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Krong Kampot",
                 "photos" : [
                    {
                       "height" : 2272,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118264445122521583401\"\u003eMeta Duong\u003c/a\u003e"
                       ],
                       "photo_reference" : "AfLeUgPNN2DdzovIr8PYJ-kfT_fRxwWmhaUbSnuAh853MjuDlNBrlVfVKXLajSaDcQXIJI0wp_WpFnPwIa9bh5qURpg4z3Z1sV4Eu28_QSVHIEwtsSjN0Q-5awWxQ7OmfVCzPilifrYCkBn_yfKeGdf9enkc2sB0eTs71akVao9grv_7EqE1",
                       "width" : 4608
                    }
                 ],
                 "place_id" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "reference" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "scope" : "GOOGLE",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Krong Kampot"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 10.6444116,
                       "lng" : 104.1721365
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.6458739302915,
                          "lng" : 104.1733625302915
                       },
                       "southwest" : {
                          "lat" : 10.6431759697085,
             [...]
