---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBt-OSnDZze6hxGjfiapSxpcyGzBo_COv8&location=10.63226396,104.16990577&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AfLeUgPSpLdtp_l75aJGpOdTRWGqk0OnfJ7-4AfXvRZ8UwCGioT0jJgRED7l1LyAjMPhY3SF0mKlIJdgZSIkyXwuEGAxdJ3BFan14mpWW68oXNL4B68ZjBbMoPkAqVn2_tBwVqcAm2pCvg8HCkDDwsXshq9LmEvtdBdPMTpyDQCA91UPfTXEXtfvB74HgBMVGEyFd7bBA8GRm5DLWbisDxYdOFqj3jp9GPFxTiozfiWMgsyo10QWi6DBnnQQbiS4okPKs6I1DRCwM3IjHqXuWgAAVn6w9_mGDu8l2YIXXYKGqkbyf63O-vTb35xJfDuV4U88w0ycowaqNTU4FCQl5SyMlASE4SoJGS67Cq95RkGPWvEE-UHQxww5Lqi5GGbY8Px3SD9-tph5ga2c3GijYZqOlcYgWWrOFpvZr6egkjVZMtS4",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 10.5942421,
                       "lng" : 104.1640355
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.64230360467809,
                          "lng" : 104.2172313373805
                       },
                       "southwest" : {
                          "lat" : 10.53956387382726,
                          "lng" : 104.1190838501716
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png",
                 "icon_background_color" : "#7B9EB0",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Krong Kampot",
                 "photos" : [
                    {
                       "height" : 2272,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118264445122521583401\"\u003eMeta Duong\u003c/a\u003e"
                       ],
                       "photo_reference" : "AfLeUgMO3wCIGb66vH_3MJOIHYwrc490fB7tVTIfKYMoT_IyoxY3DGY5fJvD78RbfUIOKRdAYYotqkO9DKpyWlaPLTLKD2FQeZOM0UvNyIVV8_pBQ_AaIEeN_Yp_hRy4HQO0YTbuB2pZZ2RaHOfM9Yy6dX6pZUGzoGXb8weECVzcjuCSVM9P",
                       "width" : 4608
                    }
                 ],
                 "place_id" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "reference" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "scope" : "GOOGLE",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Krong Kampot"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 10.6444116,
                       "lng" : 104.1721365
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.6458739302915,
                          "lng" : 104.1733625302915
                       },
                       "southwest" : {
                          "lat" : 10.6431759697085,
             [...]
