<% vendor = vendor(vendor_id)%>

<tr>
  <td colspan=3>
    <div class='vendor-info'>
      <div class='vendor-name'>
        <%= link_to raw(vendor.name), spree_storefront_resource_url(vendor) %>
        <span class='star-rating'><%= vendor_rating_stars(vendor).html_safe%></span>
      </div>
      <div class='vendor-description'>
        <%= image_tag main_app.url_for(vendor.logo.url(:small)), class: 'vendor-logo' %>
        <p class='vendor-description'><%= vendor.contact_us%></p>
      </div>
    </div>
  </td>
</tr>