<nav class="pb-3 pt-lg-3 px-1">
  <div class="text-right d-lg-none pl-3 py-2 border-bottom d-flex align-items-center">
    <div class="d-flex flex-grow-1 text-primary"></div>
    <button
      id="sidebar-close"
      class="btn btn-link d-flex"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <%= svg_icon name: "cancel.svg", width: '20', height: '20', classes: 'p-0 m-0' %>
    </button>
  </div>
  <% if Spree.user_class && can?(:admin, Spree.user_class) %>
    <ul class="nav nav-sidebar" id="sidebarUser">
      <%= tab *Spree::Backend::Configuration::USER_TABS, url: spree.admin_users_path, icon: 'people-fill.svg' %>
    </ul>
  <% end %>
</nav>
