<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to 'All',
    admin_events_path,
    class: "nav-link #{'active' if params[:q][:status_eq].blank? }" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'calendar.svg',
      Spree.t(:"admin.events.upcoming"),
      admin_events_path(q: { from_date_gt: Date.today, status_eq: 'Upcoming' }),
      class: "nav-link #{'active' if params[:q][:status_eq] == 'Upcoming'}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'clock.svg',
      Spree.t(:"admin.events.happening"),
      admin_events_path(q: { from_date_lteq: Date.today, to_date_gteq: Date.today, status_eq: 'Happening' }),
      class: "nav-link #{'active' if params[:q][:status_eq] == 'Happening'}" %>
  </li>
  <li class="nav-item">
    <%= link_to_with_icon 'clock.svg',
      Spree.t(:"admin.events.past"),
      admin_events_path(q: { to_date_lt: Date.today, status_eq: 'Past' }),
      class: "nav-link #{'active' if params[:q][:status_eq] == 'Past'}" %>
  </li>
<% end %>