<div data-hook="admin_products_sidebar">
  <%= search_form_for [:transit, @search], url: spree.transit_taxonomies_url do |f| %>
    <div data-hook="admin_products_index_search">
      <div  class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            <%= f.label :name_cont, Spree.t(:name) %>
            <%= f.text_field :name_cont, placeholder: "Name", class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
      </div>
      <div data-hook="admin_products_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    </div>
  <% end %>
</div>