<div data-hook="admin_home_page_feed">
  <%= form_with url: spree.admin_home_page_feed_path, method: :put do |f| %>
    <%= render partial: 'form', locals: { f: f }%>
    <div class='form-actions' data-hook='buttons'>
      <%= button Spree.t('actions.update'), 'save.svg', 'submit', { class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
    </div>
  <% end %>
</div>