$day-background: theme-color("light");

.simple-calendar {
  .calendar-heading {
    @extend .border;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $day-background;
    border-bottom: none !important;

    a {
      @extend .btn;
      @extend .btn-link;
    }
  }

  .day {
    background-color: $day-background;

    @include hover {
      background-color: darken($day-background, 5%);
    }

    .c-date-container {
      display: flex;
      flex-flow: column;
      height: 100%;

      .c-date {
        padding: 6px;
        cursor: pointer;
      }

      .c-events-container {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
      }

      .c-events {
        display: flex;
        align-items: flex-end;

        .c-event {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: theme-color("primary");
          margin-right: 4px;
          cursor: pointer;
        }
      }
    }
  }

  // .wday-0 {
  // }

  // .wday-1 {
  // }

  // .wday-2 {
  // }

  // .wday-3 {
  // }

  // .wday-4 {
  // }

  // .wday-5 {
  // }

  // .wday-6 {
  // }

  // .today {
  // }

  // .past {
  // }

  // .future {
  // }

  // known as active-date
  .start-date {
    background-color: darken($day-background, 5%);
  }

  // .prev-month {
  // }

  // .next-month {
  // }

  // .current-month {
  // }

  // .has-events {
  // }
}

.c-month-calendar {
  .simple-calendar {
    table {
      @extend .table-responsive-md;
    }
  }
}

.c-annual-calendar {
  @extend .row;

  .simple-calendar {
    @extend .col-md-4;
    @extend .col-sm-6;
    @extend .col-12;

    margin-bottom: 8px;

    table {
      border: none;
    }

    .calendar-heading {
      border: none !important;
      background: none !important;
      margin: 8px 0px;

      a {
        display: none;
      }
    }

    th {
      @extend .border-top;

      padding: 4px !important;
      font-size: x-small;
      font-weight: normal;
    }

    .day {
      padding: 4px;
      height: 24px;
      font-size: small;
    }

    .prev-month {
      font-size: 0px !important;
    }

    .next-month {
      display: none;
    }

    // .current-month {}
    .has-events {
      background-color: lighten(theme-color("warning"), 30%);
      color: darken(theme-color("warning"), 50%);

      @include hover {
        background-color: theme-color("warning");
      }
    }

    .has-events:has(div.c-exception) {
      background-color: lighten(theme-color("danger"), 20%);
      color: darken(theme-color("danger"), 50%);

      @include hover {
        background-color: theme-color("danger");
      }
    }

    .c-selecting-day {
      background-color: lighten(theme-color("info"), 30%) !important;
      color: darken(theme-color("info"), 50%) !important;

      @include hover {
        background-color: theme-color("info") !important;
      }
    }

    .c-selecting-day:has(div.c-exception) {
      background-color: lighten(theme-color("info"), 10%) !important;
      color: darken(theme-color("info"), 20%) !important;

      @include hover {
        background-color: theme-color("info") !important;
      }
    }
  }
}
