@font-face {
  font-family: "Tacteng";
  src: url(asset-path("tacteng.ttf")) format('truetype');
}
@font-face {
  font-family: "Moul-Regular";
  src: url(asset-path("Moul-Regular.ttf")) format('truetype');
}

.moul {
  font-family: 'Moul-Regular';
  font-size: 16px;
}
.tacteng {
  font-family: "Tacteng";
  font-size: 35px;
  margin: -15px 0 0 60px;
}

.invoice-content{
  width: 1200px;
  font-size: 13px;
  margin: auto;
}

@media print {

  body {
      visibility: hidden;
  }
  .print-area * {
      visibility: visible;
  }
  .invoice-content {
    margin-top: -220px;
  }
}