<div class="content">
  <table>
    <tr>
      <td>
        <h4>Hello, </h4>
        <p>Welcome to <%= ENV['APP_NAME'] %> </p>
        <p>Please use the following code:</p>
        <h5 style="font-size: 22px;padding: 0 10px;"><%= @pin_code.code %></h5>
        <p>to verify your account.</p>
        <br>
        <br>
        <p>
          Regards,<br>
          The <%= ENV['APP_NAME'] %> team
        </p>
      </td>
    </tr>
  </table>
</div>
