<div class="form-control">
  <%= f.radio_button :presentation, '1' %>
  <%= f.label :presentation, 'true', :value => '1' %>
  <%= f.radio_button :presentation, '0' %>
  <%= f.label :presentation, 'false', :value => '0' %>
</div>
