<div class="card-body">
  <%= button_link_to 'View',
    edit_admin_promotion_custom_dates_rule_path(promotion_rule.promotion, promotion_rule),
    { icon: 'calendar-week.svg', class: 'btn btn-outline-dark' }
  %>
</div>
