<div class="card-body">
  <%= select_tag("#{param_prefix}[preferred_match_policy]", options_for_select(promotion_rule.class::MATCH_POLICIES.map{|s| [Spree.t("date_rule.match_#{s}"),s] }, promotion_rule.preferred_match_policy), {class: 'form-control custom-select m-1'}) %>
</div>
