---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBt-OSnDZze6hxGjfiapSxpcyGzBo_COv8&location=10.63226396,104.16990577&radius=5000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "html_attributions" : [],
           "next_page_token" : "AfLeUgPAHUhtqzUzjowS3Pevq0uh_wmbxA6eitnvrhmObJWeFfz9APzlOBkgpz1VCLfp1wTWKf4fmAHNgEZh-4xNf6txmzTuBsmMoYKiQb5BsTsQenjx7cAh_NghWG99GmDtqlzH4FwyuwA2WmeLPtRqzmXuefvPkbaxsWgg-kqNRDT_tiemvj6G4NbxlJ3G5c9wHiFcc40gSy8jsa7U7qmm8rVgVpj4VCRHzYQA_Bdjd2-GhUsOqhoDjlpF9Y6V5lU0UuSm46tnxNcrrM5KG73zfAEtreZdK2EYA1mwTCvlROcjlT_r2639jiWcZiy2atLaAsV4ZRsa84zX7MLCERLxZiyq3d1Ce-fvtkojUz_hl0x3dW4qbylYrk11M1bEJVb7XRe6wKbPMlNwk2CdGjflrfg_bNhPlRhpuWJL9aIR-_qO",
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 10.5942421,
                       "lng" : 104.1640355
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.64230360467809,
                          "lng" : 104.2172313373805
                       },
                       "southwest" : {
                          "lat" : 10.53956387382726,
                          "lng" : 104.1190838501716
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/geocode-71.png",
                 "icon_background_color" : "#7B9EB0",
                 "icon_mask_base_uri" : "https://maps.gstatic.com/mapfiles/place_api/icons/v2/generic_pinlet",
                 "name" : "Krong Kampot",
                 "photos" : [
                    {
                       "height" : 2272,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/118264445122521583401\"\u003eMeta Duong\u003c/a\u003e"
                       ],
                       "photo_reference" : "AfLeUgMgivgAMHCXzBapocltBoJRoPwJQM6D6LBzuv9yFHwTY8U5FmQCrqPSO9C0XC-LfXPObQiTy_W7A82t11thke0HLgpa9-tR1Rb-2JL6IOjs_h0W8-O46yRe5KZ_jgs-PFRrO3YX39zZPkkxhRhYAKP6vF_GEHUhbd8ToU_4Vv6bcqx0",
                       "width" : 4608
                    }
                 ],
                 "place_id" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "reference" : "ChIJb9JffYk2CDER_wfWO0TtUG8",
                 "scope" : "GOOGLE",
                 "types" : [ "locality", "political" ],
                 "vicinity" : "Krong Kampot"
              },
              {
                 "business_status" : "OPERATIONAL",
                 "geometry" : {
                    "location" : {
                       "lat" : 10.6444116,
                       "lng" : 104.1721365
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 10.6458739302915,
                          "lng" : 104.1733625302915
                       },
                       "southwest" : {
                          "lat" : 10.6431759697085,
             [...]
