<div class="content-cell flex" id="greeting-card">
  <div>
    <%= image_tag "mailer/bookme-plus.png", class: "icon-bookme-plus"%>
    <div class="hello"><%= I18n.t('mail.order_mailer.hello', full_name: user_full_name(order))%></div>
    <div class="description">
      <%= I18n.t('mail.order_mailer.booking_event', event_name: order.products.first&.name || 'NA') %>
    </div>
  </div>
  <%# TODO we need to render qr image  %>
  <div class="qr-container">
    <%= image_tag main_app.url_for(qr_image_url(order.token)), class: 'qr-code' %>
    <p>Show your QR to enter</p>
  </div>
</div>