<div class="content-cell flex" id="greeting-card">
  <div>
    <%= inline_svg_tag "cm-bookme-plus-icon.svg", size: "24px*24px", class: "icon-bookme-plus" %>
    <div class="hello"><%= I18n.t('mail.order_mailer.hello', full_name: user_full_name(order))%></div>
    <div class="description">
      <%= I18n.t('mail.order_mailer.booking_event', event_name: order.products.first.name) %>
    </div>
  </div>
  <div class="qr-container">
    <div class='qr-code'>
      <%= raw generate_qr(order)%>
    </div>
    <p>Show your QR to enter</p>
  </div>
</div>