<div class="content-cell">
  <div class="container">
    <h2>** <%= I18n.t('mail.order_mailer.info_notice')%></h2>
    <ul style="padding-left: 24px;">
      <li>This reservation is non-refundable.</li>
      <li>No smoking/Weapons</li>
      <li>Do not allow animal</li>
    </ul>
  </div>
</div>