<div class="content-cell notice-info">
  <div class="container">
    <h2>** <%= I18n.t('mail.order_mailer.info_notice')%></h2>
    <div class="description">
      <%= raw notice_info(current_store, @product_type)%>
    </div>
  </div>
</div>