<div class="d-flex align-items-center justify-content-center" style="height: var(--tg-viewport-height);">
  <div class="text-center">
    <h3 class="fs-3"><span class="text-danger">Oops!</span></h3>
    <p><%= @message %></p>
    <button class="btn btn-outline-primary" onclick="window.Telegram.WebApp.close();" type="button">Close</button>
  </div>
</div>
