<%= render 'spree/admin/merchant/shared/order_tabs', current: :invoice %>

<% unless @invoice.nil? %>
  <div class="d-flex justify-content-end">
    <%= link_to  Spree.t(:print), '#', onclick: 'window.print(); return false;', class: 'btn btn-success mb-3' %>
  </div>
  <%= render partial: 'spree/admin/merchant/shared/invoice', invoice: @invoice %>
<% else %>
  <div class="d-flex justify-content-end">
    <%= button_link_to Spree.t(:create_invoice), @invoice_path, method: :post, class: "btn-success" %>
  </div>
<% end %>