#confirm-email {
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  p {
    margin: 0;
  }
  h2 {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
  }
  hr {
    height: 1.5px;
    background-color: #dddfe2;
    border: none;
    margin: 24px 0;
  }
  .email-body_inner {
    background: transparent;
  }
  .content-cell {
    background: white;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 25px;
    border: 1px solid #dddfe2;
  }
  .flex {
    display: flex;
  }
  .mtb-24 {
    margin: 24px 0;
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .f-14 {
    font-size: 14px;
  }
  .view-map {
    text-decoration: none;
    color: #6444D8
  }
  #greeting-card {
    color: #fff;
    margin-top: 40px;
    background: image-url("event-mailer-bg.png"),
                linear-gradient(45deg, #653ed7, rgba(0, 0, 255, 0) 70.71%),
                linear-gradient(225deg, #653ed7, rgba(0, 0, 255, 0) 70.71%),
                linear-gradient(330deg, #35ace0, rgba(0, 0, 255, 0) 70.71%),
                linear-gradient(150deg, #35ace0, rgba(0, 0, 255, 0) 70.71%) ;
    p {
      color: #fff;
    }
  }
  .align-right {
    vertical-align: top;
  }
  .icon-bookme-plus {
    width: 212px;
    margin-bottom: 56px;
    margin-top: 20px;
  }
  .hello {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .qr-container {
    padding: 20px 20px 0;
    text-align: center;
    .qr-code {
      width: 200px;
      border-radius: 26px;
      background-color: #fff;
      margin-bottom: 12px;
      padding: 10px;
    }
  }
  .purchase_image {
    padding: 0 10px 0 0;
  }
  .purchase_item_price {
    margin-bottom: 8px;
  }
  .purchase-summary-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .purchase_total {
      font-weight: normal;
    }
  }
  .purchase-summary_sub_total {
    margin-bottom: 14px;
  }
  .vertical-separater {
    margin: 0 18px;
    svg {
      background-color: #F2F2F2;
    }
  }
  .two-columns {
    .two-columns-item {
      width: 45%;
    }
    .two-columns-item_detail {
      margin-bottom: 16px;
    }
  }
  .two-columns_icon {
    min-width: 48px;
    height: 48px;
    background: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #6444D8;
      font-size: 24px;
    }
  }
  .two-columns_text-container {
    margin-left: 14px;
  }
  .two-columns_title {
    color: #49454F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .two-columns_description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  .email-footer {
    padding: 24px;
    .email-footer_inner {
      color: #49454F;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.1px;
      h2 {
        text-align: center;
      }
    }
    .social_icons {
      display: flex;
      justify-content: center;
    }
    .social_icon {
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #939393;
        font-size: 22px;
      }
    }
    .email-footer_links {
      a {
        color: #6444D8;
        text-decoration: none;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #confirm-email .content-cell {
    background-color: #333333;
  }
}