<div>
  <% events.each do |event| %>
    <% inventory_item = event.options[:inventory_item] %>

    <div class="mb-3">
      <h6><%= inventory_item.variant.options_text %></h6>
      <ul class="list-group mt-1 mb-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Max capacity
          <span class="badge badge-primary badge-pill"><%= inventory_item.max_capacity %></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Quantity available in DB
          <span class="badge badge-primary badge-pill"><%= inventory_item.quantity_available %></span>
        </li>
      </ul>

      <small class="text-muted">
        <%= inventory_item_message(inventory_item, @cached_inventory_items[inventory_item.id]) %>
      </small>
    </div>
  <% end %>
</div>
