<% listing_price = event.options[:listing_price] %>

<div>
  <small><strong><%= listing_price.display_price.to_s %></strong></small>
  <span class="state badge badge-pill badge-primary text-capitalize">
    <%= listing_price.display_adjustment_total.to_s %>
  </span>
</div>