<% content_for :page_title do %>
  <%= page_header_back_button admin_vendors_url %>
  <%= @vendor.name %>
<% end %>

<% content_for :page_tabs do %>
  <% vendor_tabs.items.each do |tab| %>
    <% next unless tab.available?(current_ability, @vendor) %>
      <li class="nav-item">
        <%= link_to_with_icon(
          tab.icon_key,
          Spree.t(tab.label_translation_key),
          tab.url(@vendor),
          class: tab.active?(current) ? 'active nav-link' : 'nav-link'
        ) %>
      </li>
  <% end %>
<% end %>
