<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="x-apple-disable-message-reformatting"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <%= render partial: 'spree/shared/base_mailer_stylesheets' %>
    <%= stylesheet_link_tag "spree_cm_commissioner/mailer/base.css", media: 'all' %>
  </head>
  <body>
    <%= yield%>
  </body>
</html>
