<div data-hook="admin_taxonomy_taxon_edit_general_settings" class="card mb-3">
  <div class="card-body">
    <div data-hook="admin_taxonomy_taxon_guest_card_classes_edit_form_header">
      <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @object } %>
    </div>
    <div data-hook="admin_taxonomy_taxon_guest_card_classes_edit_form">
      <%= form_with model: @object, url: { action: 'update', id: @object } do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <div data-hook="admin_taxonomy_taxon_guest_card_classes_edit_form_button">
          <%= render partial: 'spree/admin/shared/edit_resource_links' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
