<% content_for :page_title do %>
  <%= page_header_back_button spree.billing_roles_path %>
  <%= @role.name %>
<% end %>

<% content_for :page_tabs do %>
  <li class="nav-item">
    <%= link_to_with_icon 'list-ul.svg',
      Spree.t(:name),
      spree.edit_billing_role_path(@role),
      class: "nav-link #{'active' if current == :name}" %>
  </li>
<% end %>
